.navbar {
    height: 100px;
}

.addclient {
    margin-top: 80px;
    margin-left: 50px;
}

.table {
    margin-top: 50px;
    background-color: cornflowerblue;
}

th {
    background-color: rgb(4, 4, 151);
    color: floralwhite;
}

.titulo{
    margin-left: 160px;
    color: floralwhite;
    margin-top: -50px;
}

.d-inline-block{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 50px;
}